<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.designge.flickgame"
	    versionCode="17" 
        version   = "1.0.1"
		package="com.designge.flickgame"
		>
    <name>Flick Game</name>
	<icon src="logo.png" />
<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />

	<preference name="phonegap-version" value="cli-5.2.0" /> 
	<preference name="orientation" value="portrait" />
	<preference name="target-device"              value="handset" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />  
	<preference name="DisallowOverscroll" value="true" />
	<preference name="stay-in-webview"            value="false" /> 
<preference name="android-build-tool" value="gradle" /> 
	<description>
    Flick Game
    </description>
	

    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>

 <gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />
 
    <plugins>

    </plugins>



	<feature name="App">
	  <param name="android-package" value="com.designge.flickgame"/>
	</feature>
	
  <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>


<gap:plugin name="cordova-plugin-admob" source="npm" />

<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<feature name="http://api.phonegap.com/1.0/file" />


</widget>
