<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.designge.flickgame"
	    versionCode="19" 
        version   = "1.0.3"
		package="com.designge.flickgame"
		>
    <name>Flick Game</name>
	<icon src="logo.png" />

	<icon src="logo-72.png" gap:platform="ios" width="72" height="72" />
	<icon src="logo-57.png" gap:platform="ios" width="57" height="57" />
	<icon src="logo-120.png" gap:platform="ios" width="120" height="120" />

<access origin="*" />
<allow-intent href="*" />
<allow-navigation href="*" />

<gap:platform name="ios" />
<gap:platform name="android" />


<preference name="android-build-tool" value="gradle" /> 

	<preference name="phonegap-version" value="cli-5.2.0" /> 
	<preference name="orientation" value="portrait" />
	<preference name="target-device"              value="handset" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />  
	<preference name="DisallowOverscroll" value="true" />
	<preference name="stay-in-webview"            value="true" /> 

<preference name="exit-on-suspend"            value="false" />          
<preference name="show-splash-screen-spinner" value="false" />    
<preference name="auto-hide-splash-screen"    value="false" />
<preference name="disable-cursor"             value="false" />
<preference name="android-minSdkVersion"      value="11" />         
<preference name="android-installLocation"    value="auto" />
<preference name="EnableViewportScale"    value="true" />
	<description>
    Flick Game
    </description>
	

    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>

 <gap:platform name="ios" />
<gap:platform name="android" />
<gap:platform name="winphone" />
 
    <plugins>

    </plugins>



	<feature name="App">
	  <param name="android-package" value="com.designge.flickgame"/>
	</feature>
	
  <feature name="File">
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>


<gap:plugin name="cordova-plugin-admob" source="npm" />

<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<feature name="http://api.phonegap.com/1.0/file" />


   <feature name="SplashScreen">

		<param name="android-package" value="org.apache.cordova.SplashScreen"/>

		<param name="ios-package" value="CDVSplashScreen"/>
        <param name="onload" value="true"/>
    </feature>

	<gap:plugin name="cordova-plugin-inappbrowser"  source="npm" />
<gap:plugin name="cordova-plugin-whitelist" source="npm" />
<gap:splash src="splash.png" />
<gap:splash src="splash.png"  width="640" height="960" />

<gap:splash src="Default.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="Default@2x.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

</widget>
